::-webkit-scrollbar {
	height: 7px;
	width: 7px;
	/* background: #adabab; */
}

::-webkit-scrollbar-thumb {
	background: #2a2a2a;
	/* border-radius: 0%; */
	opacity: 1;
}

::-webkit-scrollbar-track {
	background: #000000;
	border-radius: 0%;
}

#responsive {
	display: none;
}

@media (max-width: 768px) {
	#responsive {
		display: block;
	}
	#desktop {
		display: none;
	}
}
